/* Begin Import */

@import 'color';

/* End Import */

.wc-backbone-modal-header h1 span {
  &:before {
    content: "» ";
  }
}

.pac-container {
  z-index: 9999999;
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.woogosend {
  &-api-key-input {
    ~button {
      width: 40px;
      position: relative;
      transform: scale(1);
      transition: all .2s ease-in-out;

      span {
        &:before {
          font-size: 20px;
          top: 4px;
          line-height: 1;
          left: 8px;
          content: "\f113";
        }
      }
    }

    &:not(.editing) {
      ~button {
        height: 0;
        width: 0;
        transform: scale(0);
      }
    }

    &.loading {
      ~button {
        pointer-events: none;

        span {
          animation: rotation 1s infinite linear;
        }
      }
    }

    &.valid {
      ~button {

        span {
          animation: none;

          &:before {
            content: "\f147";
          }
        }
      }
    }
  }

  &-hidden {
    display: none;

    &.button {
      display: none;
    }
  }

  &-no-padding {
    padding: 0 !important;
  }

  &-link {
    text-align: center;
    text-decoration: none;
    width: 70px;

    &--sort {
      cursor: not-allowed;
      opacity: 0.3;
      pointer-events: none;

      .woogosend-sort-enabled & {
        opacity: 1;
        cursor: move;
        pointer-events: inherit;
      }
    }

    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
  }

  &-fullwidth:not(a) {
    display: block;
    width: 100% !important;
  }

  &-buttons {
    &-item {
      &.button-large {
        .dashicons {
          margin-top: 5px;

          &:before {
            font-size: 1em;
          }
        }
      }

      &--left {
        float: left;
      }
    }

    &--has-icon {
      position: relative;

      .dashicons {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -10px;
        margin-left: -10px;
      }
    }
  }

  &-field {
    &:disabled {
      background: $alabaster;
    }

    &-type--title {
      padding-left: 14px !important;

      .dashicons:before {
        content: "\f113";
      }

      &~p {
        padding-top: 8px !important;
        margin: 14px !important;
        border-top: 1px solid $iron;
      }
    }

    &-group-wrap {
      padding-top: 1px;
      margin-bottom: 1em;

      >.wc-settings-sub-title:not(.woogosend-hidden) {
        &~.form-table {
          border-top: 1px solid $iron !important;
          border-bottom: 1px solid $iron !important;
        }
      }
    }

    &-unit {
      background-color: lighten($iron, 10%) !important;
      display: inline-block !important;
      width: 40px !important;
      min-width: 40px !important;
      margin-left: -5px;
      border-radius: 0 !important;
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
      box-shadow: 0 0 0 transparent;
      border: 1px solid #7e8993 !important;
      color: #32373c !important;
      padding: 0 8px;
      line-height: 2;
      min-height: 30px;
    }

    &:read-only {
      background-color: $white !important;
    }
  }

  &-map-wrap {
    padding: 0;
    position: relative;
  }

  &-map-canvas {
    height: 450px;
  }

  &-map-search-panel {
    left: 10px;
    margin: 10px;
    position: absolute;
    top: 10px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);

    .woogosend-map-search-element {
      float: left;
      line-height: 1;
      margin: 0;
    }

    #woogosend-map-search-input {
      display: none;
      height: 40px !important;
      max-width: calc(100% - 60px) !important;
      transition: all 2s ease;
      border-radius: 0;
      border: none;
      border-left: 1px solid $lochmara;

      &:focus {
        border: none !important;
        outline: none !important;
      }
    }

    #woogosend-map-search-panel-toggle {
      background: $lochmara;
      border: none;
      outline: none;
      cursor: pointer;
      display: block;
      height: 40px !important;
      width: 40px !important;
      color: $alabaster;
      border-radius: 0;

      .dashicons {
        &:before {
          content: "\f179";
        }
      }
    }

    &.expanded {
      border: 1px solid $lochmara;

      #woogosend-map-search-input {
        display: block;
      }

      #woogosend-map-search-panel-toggle {
        background: $alabaster;
        color: $lochmara;
      }
    }

    &:after {
      clear: both;
    }
  }

  &-map-search-input {
    border-radius: 0;
    display: block;
    height: 36px;
    margin: 10px 0 0;
  }

  &-error-box {
    margin: 0 !important;
    padding-top: 1em;
    padding-bottom: 1em;

    &.has-margin {
      margin: 15px !important;
    }

    p {
      margin: .1em 0 !important;
      padding: 2px !important;
    }
  }
}

@keyframes highlighted {
  0% {
    background-color: $white;
  }

  49% {
    background-color: $white;
  }

  50% {
    background-color: rgba($anakiwa, 0.3);
  }

  99% {
    background-color: rgba($anakiwa, 0.3);
  }

  100% {
    background-color: $white;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
