.woogosend-map-wrapper {
  position: relative;
  width: 100%;
  padding-right: 10px; }
  .woogosend-map-wrapper .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
  .woogosend-map-wrapper .woogosend-map-canvas {
    position: relative;
    height: 360px; }
  .woogosend-map-wrapper .woogosend-map-search {
    position: relative;
    background-color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 600px;
    max-width: 100%;
    margin-top: 10px !important; }
    .woogosend-map-wrapper .woogosend-map-search:focus {
      border-color: #4d90fe; }

#woogosend-lat-lng-wrap {
  width: 100%;
  padding-right: 10px; }
  #woogosend-lat-lng-wrap div {
    width: 50%; }
    #woogosend-lat-lng-wrap div:first-child {
      float: left;
      padding-right: 10px; }
    #woogosend-lat-lng-wrap div:last-child {
      margin-left: 50%;
      padding-left: 10px; }
    #woogosend-lat-lng-wrap div label {
      display: block; }
    #woogosend-lat-lng-wrap div input {
      display: block;
      width: 100%; }
  @media only screen and (max-width: 1070px) {
    #woogosend-lat-lng-wrap div {
      width: 100%; }
      #woogosend-lat-lng-wrap div:first-child {
        float: none;
        padding-right: 0; }
      #woogosend-lat-lng-wrap div:last-child {
        margin-left: 0;
        padding-left: 0; } }

.pac-container {
  z-index: 999999 !important; }
  .pac-container #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px; }
  .pac-container #type-selector label {
    font-size: 13px;
    font-weight: 300; }
  .pac-container #target {
    width: 345px; }
